<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "mybatis-3-config.dtd">

<configuration>
    <!--数据库配置-->
    <properties>
        <property name="dialect" value="mysql"/>
    </properties>
    <settings>
        <!-- 打印sql语句 -->
        <!-- <setting name="logImpl" value="STDOUT_LOGGING" /> -->
        <setting name="logImpl" value="LOG4J2" />
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="defaultStatementTimeout" value="1800"/>
        <!-- 查询时，关闭关联对象即时加载以提高性能 -->
        <setting name="lazyLoadingEnabled" value="true" />
        <!-- 设置关联对象加载的形态，此处为按需加载字段(加载字段由SQL指 定)，不会加载关联表的所有字段，以提高性能 -->
        <setting name="aggressiveLazyLoading" value="false" />
    </settings>
    <!--mybatis映射包别名，省略前面的包名，在mapper.xml配置文件-->
    <typeAliases >
        <package name="com.ben.hello.po"></package>
    </typeAliases>
    <!--分页拦截器-->
    <plugins>
        <plugin interceptor="com.ben.hello.setup.PageHelper">
            <!--匹配任意以Paging结尾的进行分页-->
            <property name="sqlRegEx" value=".+Paging$"/>
        </plugin>
        <plugin interceptor="com.ben.hello.setup.MybatisPasteTimeInterceptor"/>
    </plugins>
</configuration>